*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.95)),url(images/spider-min.jpg);
    background-size: cover;
    background-position: center;
    position:fixed;
  }
  .navbar {
    position:absolute;
    top: 20px;
    right: 20px;
    color: aliceblue;
    font-size: 20px;
  }
  .logo{
    color: aliceblue;
    position: absolute;
    top: 20px;
    left:0px;
    margin-left: 20px;
  }
 
  .navbar   li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    position: relative;
  }
  .navbar  li  a{
    text-decoration:none ;
    color: aliceblue;
  }
  .navbar   li::after{
    content:'';
    height: 3px;
    width: 0%;
    background:gold;
    position: absolute;
    left:0;
    bottom: -3px;
    transition: 0.15s;
  }
  .navbar  li:hover::after{
    width:100%;
  }
.container{
  width: 50%;
  height: 50%;
  position: relative;
  top:15%;
  margin: 0 auto;
  padding: 3rem;
  border: 10px solid ;
  border-radius: 20px;
  border:4px solid gold;
  background-color: rgba(84, 9, 9, 0.2);
  color: aliceblue;
  font-size: larger;
  text-align: center;
  border-radius: 20px;
}
.content{
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position:absolute;
  color: aliceblue;
  font-size: larger;
}
.site{
  color: red;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:transparent;
  color: white;
  text-align: center;
}
.glow{
  color: magenta;
  text-shadow:
  0 0 5px rgb(255, 255, 255),
  0 0 10px rgb(170, 138, 31),
  0 0 20px rgb(129, 128, 35),
  0 0 40px rgb(251, 255, 0),
  0 0 80px rgb(255, 238, 0),
  0 0 90px rgb(144, 158, 17),
  0 0 100px rgb(168, 197, 3),
  0 0 150px rgb(218, 204, 21);
}

.social{
  text-decoration: none;
  position: relative;
  color:aliceblue;
  font-size: xxx-large;  
  animation: color-change 3s infinite;
}
@keyframes color-change{
  0%,
  100%{
    color: #002298;
  }
  25%{
    color:#82008F;
  }
  50%{
    color:#C0007A;
  }
  65%{
    color:#EA0C6F;
  }
  70%{
    color:#FF5341;
  }
  75%{
    color: #FF8820;
  }
  80%{
    color:yellow;
  }
}
